.card {
  background-color: transparent!important;
  border: none!important;
  height: 100vh!important;
  transition: all 0.5s!important;
  position: fixed!important;
  top: 0!important;
  right: 0!important;
  display: block!important;
  width:290px;
}
