.description {
    margin-left: 5%;
    margin-bottom: 10px; /* Aggiungi uno spazio inferiore tra l'immagine e la descrizione */
}
table{
    width: 100%;
}
.left{
    text-align: left;
    width:33%
}
.center{
    text-align: center;
    width:34%;
    font-size: 20px;
}
.right{
    text-align: right;
    width:33%
}
.modal-dark .modal-content {
    background-color: #343a40; 
    color: #fff; 
}
.modal-dark .modal-header {
    border-bottom: 1px solid #454d55; 
}
.modal-dark .modal-body {
    border-bottom: 1px solid #454d55;
  }
.modal-dark .modal-footer {
    border-bottom: 1px solid #454d55;
    border-top: 1px solid #454d55!important;
}

.modal-footer {
    border-top: 0px solid var(--bs-modal-footer-border-color)!important;
}

.custom-modal .modal-body hr {
    border-color: #69737d;
    width: 106.5%;
    margin-left: -3.25%;
}

.preview-container {
    margin-left: 5%; 
}
.imageUserModal {
    margin-right: 7px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.selectfile{
    height: 600px;
}
.flex {
    display: flex;
}
